* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    overflow: hidden;
}


article {
    height: 60px;
    background-color: #444;
    margin-bottom: 40px;;
}

article menu {
    height:50px;
    width:50px;
    position: absolute;
    left:5px;
    top:5px;
}
article menu:hover {
    background-color: #666;
    cursor: pointer;
}

article menu div { /* 40x40*/
    height: 8px;
    width: 40px;
    background-color: white;
    position: absolute;
    left: 5px;
    top: 21px;
}
article menu div::after { /* 40x40*/
    content: "";
    height: 8px;
    width: 40px;
    background-color: white;
    position: absolute;
    left: 0;
    top: -16px;
}
article menu div::before { /* 40x40*/
    content: "";
    height: 8px;
    width: 40px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 16px;
}

nav {
    width: 350px;
    height: calc(100vh - 70px);
    background-color: #555;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top:60px;
    left:0;
    transform: translateX(-100%);
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: block;
    width: 250px;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    margin: 30px auto;
    height: 60px;
    text-align: center;
    font-size: 35px;
    padding: 7px 0;
}
a {
    text-decoration: none;
    color: white;
}
li:hover {
    cursor:pointer;
    background-color: #777;
}
.active-menu {
    transform: translateX(0);
}
.passive-menu {
    transform: translateX(-100%);
}

.active-form {
    transform: translateX(0);
}
.passive-form {
    transform: translateX(100%);
}



article button {
    color:white;
    border: 2px solid white;
    background-color: #444;
    height: 50px;
    font-size: 30px;
    margin: 5px 10px;
    float: right;
    border-radius:20px;
    padding: 4px;
}

button:hover {
    cursor:pointer;
}

form {
    width: 400px;
    height: 200px;
    background-color: #555;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top:60px;
    right:0;
    transform: translateX(100%);
}
span {
    display: block;
    width: 100%;
    height: 100%;
}
input, h2 {
    text-align: center;
    margin: 10px auto;
}
h2 {
    color: greenyellow;
}
input {
    display: flex;
}
#submit {
    background: none;
    border: 2px solid white;
    padding: 8px;
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 15px;
}
#submit:hover {
    background-color: #777;
    cursor: pointer;
}

h1 {
    color: rgb(255, 145, 0);
    font-size:80px;
}
p {
    position: absolute;
    top: 50vh;
    margin-top: -40px;
    left: -200vw;
}

p:nth-child(1) {
    transition: all 1200ms ease;
}

p:nth-child(2) {
    transition: all 1300ms ease;
}

p:nth-child(3) {
    transition: all 1400ms ease;
}

p:nth-child(4) {
    color: rgb(217, 255, 0);
    font-size:360px;
    margin-top: -300px;
    transition: all 1500ms ease;
}




.p1 {
    left: 16%;
}
.p2 {
    left: 35%
}
.p3 {
    left: 42%;
}
.p4 {
    left:53%;
}